* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

a {
	color: white;
	font-size: 18px;
}

nav {
	width: 100%;
	position: fixed;
	color: white;
	z-index: 99;
	background-color: transparent;
	transition: all 0.5s ease;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	margin: 0 auto;
	padding: 0 20px;
}

.menu {
	display: flex;
}

.menu-text {
	margin-left: 20px;
}

.hamburger {
	display: none;
}

.logo {
	font-size: 30px;
}

.hero-section,
.nature-section,
.wildlife-section,
.product-section {
	width: 100%;
	height: 100vh;
	position: relative;
}

.hero-section {
	background: url(../assets/pexels-nappy-2731372.jpg) no-repeat center/cover;
	background-attachment: fixed;
}
.nature-section {
	background: url(../assets/pexels-luis-del-río-15286.jpg) no-repeat
		center/cover;
	background-attachment: fixed;
}
.wildlife-section {
	background: url(../assets/pexels-monique-laats-733090.jpg) no-repeat
		center/cover;
	background-attachment: fixed;
}
.product-section {
	background: url(../assets/pexels-laryssa-suaid-1667071.jpg) no-repeat
		center/cover;
	background-attachment: fixed;
}

.hero-section-wrapper,
.nature-section-wrapper,
.wildlife-section-wrapper,
.product-section-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.large-text-blue {
	font-size: 200px;
	color: rgba(0, 239, 255, 0.5);
	text-transform: uppercase;
}

.large-text-green {
	font-size: 200px;
	color: rgba(0, 255, 151, 0.5);
	text-transform: uppercase;
}

.about-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}

.left-section,
.right-section {
	flex: 1;
}

.left-section {
	background: url(../assets/pexels-alexander-paul-16881386.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.left-section__text {
	font-size: 100px;
	color: rgba(0, 255, 151, 0.5);
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.right-section {
	width: 100%;
	padding: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.slogan {
	font-size: 48px;
}

.right-section p {
	font-size: 20px;
	margin: 10px 0;
}

button {
	background: rgba(0, 255, 151, 0.5);
	outline: none;
	border: none;
	padding: 10px;
	max-width: 300px;
	margin-top: 10px;
	position: relative;
	transition: all 0.5s ease;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

button:hover {
	background: rgba(0, 239, 255, 0.5);
	border-radius: 10px;
}

/* services style */

.services-section {
	width: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.services-info {
	display: flex;
	background: url(../assets//pexels-jack-redgate-3014019.jpg) no-repeat;
	background-position: top;
	height: 40%;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}

.left,
.right {
	flex: 1;
}
.right-section__text {
	font-size: 100px;
	color: rgba(0, 239, 255, 0.5);
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 50px;
}

.left p {
	max-width: 400px;
	font-size: 20px;
	margin-bottom: 20px;
}

.services-category {
	width: 100%;
	height: 60%;
	margin-bottom: 20px;
	display: flex;
}

.card {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	transition: all 0.5s ease;
}

.card:nth-child(1) {
	background: url(../assets/pexels-cottonbro-studio-3584992.jpg) no-repeat
		center/cover;
	height: 100%;
}
.card:nth-child(2) {
	background: url(../assets/pexels-adrien-olichon-16059681.jpg) no-repeat
		center/cover;
	height: 100%;
}
.card:nth-child(3) {
	background: url(../assets/pexels-pixabay-219906.jpg) no-repeat center/cover;
	height: 100%;
}
.card:nth-child(4) {
	background: url(../assets/pexels-olena-bohovyk-3819969.jpg) no-repeat
		center/cover;
	height: 100%;
}

.card::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.card .heading {
	font-size: 50px;
	color: rgba(0, 255, 151, 0.5);
	text-transform: uppercase;
	z-index: 99;
	position: absolute;
	transform: translateY(0);
	transition: all 0.5s ease;
}

.card .cta {
	font-size: 20px;
	position: absolute;
	color: white;
	bottom: 20px;
	margin-top: 10px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.card:hover .heading {
	transform: translateY(140px);
}

.card:hover .cta {
	opacity: 1;
}

/* gallery */

.gallery {
	text-align: center;
}

.tab-menu {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tab-button {
	background-color: rgba(0, 239, 255, 0.8);
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.tab-button:hover {
	border-radius: 0;
}

.tab-button.active {
	background-color: rgba(0, 255, 151, 0.5);
}

.image-container {
	display: flex;
	flex-wrap: wrap;
}

.image-container img {
	width: 100%;
}

.image.people.people,
.image.nature.nature,
.image.wildlife.wildlife,
.image.product.product {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.blog {
	width: 100%;
	display: flex;
	height: auto;
	margin: 20px 0;
}
.blog-wrapper {
	width: 100%;
	height: 100%;
}

article {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
	color: white;
	font-weight: medium;
	font-size: 20px;
	position: relative;
	cursor: pointer;
}
.title,
.date {
	z-index: 99;
	padding: 0 40px;
}

article::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.4);
}

article:first-child {
	background: url(../assets/photography-img35.jpg);
	background-position: center center;
	background-size: cover;
	height: 300px;
	transition: all 0.5s ease;
	background-attachment: fixed;
}

article:nth-child(2) {
	background: url(../assets/photography-img36.jpg);
	background-position: center;
	background-size: cover;
	height: 300px;
	background-attachment: fixed;
}

article:nth-child(3) {
	background: url(../assets/photography-img37.jpg);
	height: 300px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
article:nth-child(4) {
	background: url(../assets/photography-img38.jpg);
	height: 300px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
form {
	width: 50%;
}
.form-group {
	width: 100%;
	margin-bottom: 10px;
}
input,
textarea {
	width: 100%;
	padding: 10px;
	outline: none;
}
.contact-wrapper h2 {
	margin-bottom: 30px;
}

footer {
	width: 100%;
}
.footer-wrapper {
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-wrapper .logo {
	color: white;
	margin-bottom: 20px;
	font-size: 32px;
}
footer a {
	margin-left: 20px;
}

/* media queries */

@media (max-width: 991px) {
	.large-text-blue,
	.large-text-green {
		font-size: 100px;
	}

	.about-wrapper {
		flex-direction: column;
	}
	.right-section {
		padding: 30px;
	}
	.services-category {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.card:hover .heading {
		transform: translateY(50px);
	}

	.right-section__text {
		font-size: 60px;
	}

	.services-info {
		flex-direction: column;
		padding: 30px;
	}

	.left {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.left p {
		max-width: 100%;
		color: white;
	}
}

@media (max-width: 600px) {
	.hero-section,
	.nature-section,
	.wildlife-section,
	.product-section {
		height: 60vh;
	}

	.services-category {
		grid-template-columns: repeat(1, 1fr);
	}

	.services-section {
		height: auto;
	}

	.card:nth-child(1),
	.card:nth-child(2),
	.card:nth-child(3),
	.card:nth-child(4) {
		height: 350px;
	}

	.image.nature.nature,
	.image.people.people,
	.image.wildlife.wildlife,
	.image.product.product {
		grid-template-columns: repeat(1, 1fr);
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 99;
	}

	.bar {
		width: 20px;
		border: 2px solid white;
		margin-bottom: 5px;
	}

	nav .menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		height: 300px;
		top: 0;
		left: 0;
		right: 0;
		transform: translateX(-100%);
		transition: all 0.5s ease;
		justify-content: space-evenly;
		align-items: center;
	}

	nav .menu.show-mobile-menu {
		transform: translateX(0);
		background-color: black;
		width: 100%;
		transition: all 1s ease;
	}
}

@media (max-width: 480px) {
	.large-text-blue,
	.large-text-green {
		font-size: 60px;
	}
	.left-section__text {
		font-size: 60px;
	}
	.slogan {
		font-size: 30px;
	}
	.left {
		padding: 0;
	}
	form {
		width: 90%;
		margin: 0 auto;
	}
}
